.container {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  color: #ccc;
}

.row {
  margin: 2em 0 1em 0;
  display: flex;
  align-items: center;
}

.switch {
  margin-right: 1em;
}

.label {
  margin-right: 1em;
  font-size: 1em;
  flex: 1;
}

.row p {
  font-size: 0.9em;
  color: #888;
  margin: 0;
}
