.foo {
  color: red;
}

.App {
  margin-top: 2em;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  flex-grow: 7;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.colors {
  flex-grow: 3;
  
}

.drag {
  width: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  position: fixed;
  z-index: 10;
  top: 0;
}