@font-face {
  font-family: 'Gruppo';
  src: local('Gruppo'),
    url('../assets/Gruppo-Regular.ttf');
}


.App {
  color: #ccc;
}

.mainContainer {
  padding-top: 24px; /* match header */
}

.tabContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.tabControls {
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  list-style-type: none;
  padding: 0 0.75em;
}

/* tab */
.tabControls li {
  padding: 0;
}
.tabControls li[aria-selected=true] button {
  color: white;
}

.tabControls li button {
  background-color: transparent;
}


.mainContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em;
  margin-top: 3em;
}

.main {
  
  flex-grow: 7;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.colors {
  flex-grow: 3;
}

.header {  

  position: fixed;
  z-index: 10;
  height: 100%;
  -webkit-app-region: drag;

  display: block;
  position: fixed;
  height: 16px;
  width: calc(100% - 2px);
  padding: 4px 0;
  background: rgba(0,0,0,0.3);
  border-bottom: 1px solid black;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.version {
  font-size: 0.8em;
  margin-left: 1em;
}
.drag {
  -webkit-user-select: none;
  -webkit-app-region: drag; 
  width: 100%;
  height: 100%; 
}

.title {
  padding: 0 1em;
  font-size: 1.2em;
  line-height: 0.7em;
  font-family: "Gruppo";
}

.alignRight {
  text-align: right;
}


.title img {
  height: 22px;
}

.green {
  color: rgba(40,255,0,1);
}

.disconnected {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #ccc
}

.powerIcon {
  width: 30px;
  position: relative;
  top: 2px;
  fill: #888;

}
.power {
  margin: 0;
  margin-bottom: 1em;
  background-color: #222;
  width: 100%;
  color: #888;
  border: 1px solid black;
  border-radius: 8px;
  
}

.enabled {
  background-color: #2948c4;
  box-shadow: 0 0 25px 10px #456aff24;
  color: #fff;
}

.enabled .powerIcon {
  fill: #fff;
}

.ledText {
  width: 100px;
  display: inline-block;
  position: relative;
  top: -5px;
  text-align: left;
  margin-left: 1em;
}
.powerButtonRow {

}
.mainControls {
  width: 100%;
}

.rgbInputs {
  margin-top: 1em;
}
.rgbInputs label {
  margin-right: 3px;
  color: #777;
}
.rgbInputs input {
  width: 2.0em;
  border: none;
  background-color: #222;
  margin-right: 5px;
  padding: 0.5em;
  color: #ccc;
  font-size: 1.1em;
}
