
body {

  font-size: 16px;
  border: 1px solid #48545c;
  overflow-y: hidden;
  height: 100vh;  
  width: calc(100% - 1px);  /* the border is off on the right, no clue why */
  box-sizing: border-box;
  overflow-y: hidden;

}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 2px 2px #4e72ff
}


button {
  user-select: none;
  display: inline-block;
  border: none;
  padding: 1em;
  margin: 0;
  text-decoration: none;
  color: #ccc;
  fill: #ccc;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 100ms ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  
  background-color: #1b1d23;
  border: none;
/*   box-shadow: 0 0 5px 0 #00000070; */
  border-radius: 0.25em;
  padding: 0.5em;
}

button:hover {
  cursor: pointer;
  /* transition: background 50ms ease-in-out;
  background: rgb(30 80 155);
 */
}

#root .react-colorful {
  height: 240px;
  width: 300px;
}


.react-colorful__interactive:focus {
  box-shadow: none;
}

a {
  text-decoration: none;
  color: #7ab4ff;
}

a:hover {
  text-decoration: underline
}

select {
  background-color: #1b1d23;
  border: none;
  padding: 0.5em;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: white;
}

input {
  border: none;
  background-color: #1b1d23;
  margin-right: 5px;
  padding: 0.5em;
  color: #ccc;
  font-size: 1.1em;
  
}

