
body {

  font-size: 16px;
  border: 1px solid #48545c;
  overflow-y: hidden;
  height: 100vh;  
  width: calc(100% - 1px);  /* the border is off on the right, no clue why */
  box-sizing: border-box;
  overflow-y: hidden;

}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 2px 2px #4e72ff
}


button {
  user-select: none;
  display: inline-block;
  border: none;
  padding: 1em;
  margin: 0;
  text-decoration: none;
  color: #ccc;
  fill: #ccc;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 100ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;

  
  background-color: #222;
  border: none;
/*   box-shadow: 0 0 5px 0 #00000070; */
  border-radius: 0.25em;
  padding: 0.5em;
}

button:hover {
  /* transition: background 50ms ease-in-out;
  background: rgb(30 80 155);
 */
}

button:focus {
  /* outline: 1px solid #fff;  
  outline-offset: -4px;    */
}

button:active {
 /* background: #6078d8; */
}

#root .react-colorful {
  height: 200px;
  width: 300px;
}


.react-colorful__interactive:focus {
  box-shadow: none;
}

.react-colorful__alpha.react-colorful__last-control {
  color: red;
  width: 100%;
  top: 5em;
  border-radius: 15px;
}

.react-colorful__hue {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.react-colorful__alpha-gradient {
  
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgb(255, 255, 255))!important; 
  
}

.react-colorful__alpha .react-colorful__pointer-fill {
  background-color: #222!important;
}


.hideAlpha .react-colorful__alpha {
  /* visibility: hidden; */
}


a {
  text-decoration: none;
  color: #7ab4ff;
}

a:hover {
  text-decoration: underline
}
