.confirmWrapper {
  position: fixed;
  width: 100%;
  display: block;
  bottom: 0;
  left: 0;
  flex-direction: row;
  display: block;
  text-align: center;
}
.confirm {
  background-color: black;
  padding: 0.5em;
}

.confirmWrapper button {
  margin-left: 1em; 
  width: 10em;
}

.reset {
  background-color: #2948c4;
}
.delete {
  background-color: rgb(122 37 37);
}